.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  padding-left: 8vw;
  background-color: black;
  width: 90.8vw;
  height: 100vh;
  color: white;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

li {
  margin-left: 0;
  padding-left: 0.5vw;
}

.slider {
  width: 80vw; 
  background: rgba(255, 255, 255, 0.2);
  padding: 2vh;
  padding-left: 4vw;
  border-radius: 1vw;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 2vh;
  color: white;
  height: 60vh;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 1vw;
  position: relative;
  top: 1vh;
  width: 100%;
}

.tab-buttons button {
  padding: 1vh 2vw;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0.5vw;
  transition: 0.3s;
  font-size: 2vh;
}

.tab-buttons button.active {
  background: #0056b3;
}

.tab-buttons button:hover {
  background: #0056b3;
}

.photo-grid {
  display: flex;
  gap: 2vw;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80vh;
}

.grid-item img {
  width: 20vw;
  height: 40vh;
  border-radius: 0.5vw;
  box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
}

.grid-item {
  background: url('src/images/squid%20game%20potrait.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  border-radius: 0.5vw;
}

.rules-grid {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  margin-top: 2vh;
}

.rule-box {
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 2vh;
  border-radius: 1vw;
  box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 0.1vw solid rgba(255, 255, 255, 0.3);
}

.rule-box ul {
  text-align: left;
  padding-left: 2vw;
}

.about-us,
.rules {
  padding: 2vh;
  font-size: 2vh;
  text-align: center;
}

h2 {
  padding: 2vh;
  font-size: 2.5vh;
}

b {
  color: #4b6af3;
  font-size: 2.2vh;
}

.button1 {
  position: absolute;
  bottom: 5vh;
  left: 2vw;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 2vh 3vw;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 1vw;
}

.button1:hover {
  background-color: #0056b3;
}
